- if service_name != "Sharetribe"
  %h2 #{service_name} Điều khoản sử dụng
  %p
    #{service_name} Là dịch vụ cho phép người dùng tìm kiếm những bữa ăn gia đình tuyệt vời thay cho cơm văn phòng hiện có! #{service_name}
- else
  %h2 mealok terms of use
%p
  Khi đến với Mealok bạn sẽ được chia sẻ và cảm nhận văn hóa ẩm thực của người Việt, đồng thời xây dựng các mối quan hệ công việc, xã hội mới.

%h3 Quyền lợi và Trách nhiệm:

%p
  Tất cả nhà cung cấp có trách nhiệm gìn giữ an toàn vệ sinh thực phẩm và đảm bảo bữa ăn tốt nhất cho khách đến nhà
  Tất cả người sử dụng có trách nhiệm bảo vệ tài sản tôn trọng văn hóa gia đình của các nhà cung cấp.
  Người cung cấp phải đảm bảo thông tin chính xác, nếu vì lý do khách quan mà không cung cấp bữa ăn theo thời gian ban đầu thì phải có trách nhiệm thông báo cho MealOk.
  Khách hàng có quyền khiếu nại với MealOk khi nhà cung cấp sai phạm.
%h3 Cảnh báo:

%p
  Nếu nhà cung cấp không đảm bảo chất lượng bữa ăn sẽ bị loại khỏi hệ thống
  Nếu khách hàng gây mất tài sản và an ninh cho chủ nhà sẽ chịu trách nhiệm trước pháp luật

%h3 Cơ chế bảo hiểm của MealOk

%p
  MealOK có đảm bảo sẽ đền bù các thiệt hại cho nhà cung cấp trong trường hợp bị mất mát tài sản do khách hàng đặt bữa ăn qua MealOk.

%h3 Chung tay vì văn hóa ẩm thực Việt:

%p
  Mọi nhà cung cấp và khách hàng của MealOk có trách nhiệm chung tay xây dựng một văn hóa ẩm thực việc độc đáo, giàu bản sắc, tự hào với các bạn bè khắp thế giới.
